* {
  margin: 0;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #47B5FF;
  --third-color: #000000;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary-color);
  opacity: 1; /* Firefox */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#currentDay {
  font-size: 5vh;
  color: var(--primary-color);
}

h1, .lead {
  color: var(--primary-color);
}

#text-muted {
  opacity: 75%;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid var(--third-color);
  padding: 10px;
  text-align: center;
  margin: auto 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  background: linear-gradient(#0C94F8, #0B4BD9, #380BD9, #810CF8);
}

.task{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.submit-btn :hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
